.carousel {
  background-color: #21282E;
  overflow: hidden;
  width: 100%;
  min-height: 325px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1140px) {
  .carousel {
    height: 450px;
  }
}
