@import 'global';

.container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 21%;
  font-weight: 500;
  line-height: 1.4;
  max-width: 1079px;
  box-sizing: border-box;
  margin-top: 14px;
  color: #fff;
  font-size: .875rem;
  padding: 16px 20px 0;
  height: 60px;
  //background-color: #262f36;

  justify-content: center;
  align-items: center;

  @include tablet {
    left: 30%;
  }

  @include desktop {
    width: auto;
    display: block;
    left: 40%;
  }

}
.copyright {
  font-size: .8125rem;
  padding: 10px 0;
}
.socialAndLegal {
  padding-bottom: 10px;
}
.social {
  margin-bottom: 10px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 15px;
    color: #262f36;
    line-height: 30px;
    text-align: center;
    font-size: 1.25rem;
  }
}
.link {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  color: #262f36;
  line-height: 30px;
  text-align: center;
  font-size: 1.25rem;

  &:hover {
    background-color: #00aced;
  }
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.facebook {
  background-image: url('./assets/facebook.svg');
}

.twitter {
  background-image: url('./assets/twitter.svg');
}

.linkedin {
  background-image: url('./assets/linkedin.svg');
}

.googleplus {
  background-image: url('./assets/googleplus.svg');
}
.wechat {
  background-image: url('./assets/wechat.svg');
}
.instagram {
  background-image: url('./assets/instagram.svg');
}
