@import 'global';

$image-size: 120px;
$close-button-size: 20px;

.overlay {
  display: flex;
  flex-direction: column;
  padding: $space-md;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 190px;
  border: 1px solid $color-pebble-5;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-default;
  transform: translate(-50%, -50%);

  @include tablet {
    top: 50%;
    left: 50%;
    width: 390px;
    border: 1px solid $color-pebble-5;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-default;
    transform: translate(-50%, -50%);
  }
}

.title {
  font-size: $font-xl;
  line-height: $space-md-lg;
  font-weight: $font-weight-heavy;
  margin-bottom: $space-md;
}

.property {
  display: flex;
  margin-bottom: $space-md;
}

.imagePanel {
  flex-shrink: 0;
  max-width: $image-size;
  height: $image-size;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  border: 1px solid #e1e4e6;
  overflow: hidden;

  img {
    height: $image-size;
    transform: translate(-50%, -50%) translateZ(0) scale(1);
    animation: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    vertical-align: middle;

  }
}

.details {
  padding-right: 0;
  flex: auto;
  width: auto;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: auto;
  border-radius: $border-radius-default;
  border: 1px solid $color-pebble;
  padding: $space-xs;
  margin-bottom: 28px;

  @include tablet {
    flex-basis: 224px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.saveButton {
  width: 215px;
  margin-right: $space-md;
}

.cancelButton {
  width: 112px;
}

.close {
  cursor: pointer;
  background: url("./img/close.svg") no-repeat center;
  background-size: contain;
  height: $close-button-size;
  width: $close-button-size;
  position: absolute;
  top: $space-md;
  right: $space-md;
}
