@import 'global';

$arrowDownIconHeight: 10px;
$border-width: 5px;
$dropDownContainerPadding: 9px;

.container {

  display: none;

  @include tablet {
    display: block;
    font-family: Museo-Sans-700,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #757575;
    font-size: 16px;

    cursor: pointer;
  }
}

.arrowDownIcon {

  @include tablet {
    display: inline-block;
    height: $arrowDownIconHeight;
    transform: rotate(-270deg);
    margin-left: $space-xs;
  }
}

.arrowUpIcon {

  @include tablet {
    display: inline-block;
    height: $arrowDownIconHeight;
    transform: rotate(-90deg);
    margin-left: $space-xs;
  }
}

.dropDownContainer {
  background-color: $color-white;
  width: 100%;
  height: 100px;
  padding: $dropDownContainerPadding 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 48px;
  z-index: 1;
  right: -2px;

  @include tablet {
    top: 55px;
    right: 0;
  }

  &::before {
    content: '';
    border: $border-width solid transparent;
    border-bottom-color: $color-white;
    position: absolute;
    top: -10px;
    right: $space-xs;

    @include tablet {
      right: 50px;
    }
  }

}
