//  **********************************************************
//  Breakpoints
$breakpoint-mobile     : 320px;
$breakpoint-tablet     : 768px;
$breakpoint-desktop    : 1024px;

//  **********************************************************
//  Content widths
$max-width-desktop     : 1108px;

//  **********************************************************
//  Colours
$color-rca-blue        : #055fb4;
$color-rca-dark-blue   : #21282e;
$color-blue            : #0bacff;
$color-grey            : #f5f5f6;
$color-light-grey      : #f0f2f5;
$color-blue-dark       : #0084ff;
$color_yellow_dark     : #ffb200;
$color-white           : #fff;
$color-bluestone       : #333f48;
$color-bluestone-5     : #f5f5f6;
$color-bluestone-10    : #eaebec;
$color-bluestone-20    : #d6d9da;
$color-pebble          : #697684;
$color-pebble-5        : #f7f8f9;
$color-pebble-20       : #e1e4e6;
$color-pebble-50       : #b4bac1;
$color-placeholder     : #c6cfda;

//  **********************************************************
//  Spacing
$space-xxs             : 0.36rem;   //  6px
$space-xs              : 0.5rem;    //  8px
$space-sm              : 0.75rem;   //  12px
$space-md              : 1rem;      //  16px
$space-md-lg           : 1.25rem;   //  20px
$space-lg              : 1.5rem;    //  24px
$space-lg-xl           : 1.75rem;   //  28px
$space-xl              : 2rem;      //  32px
$space-xxl             : 2.5rem;    //  40px

//  **********************************************************
//  Border radius
$border-radius-default : 3px;

//  **********************************************************
//  Box shadow
$box-shadow-default    : 0 1px 2px 0 rgba(0, 0, 0, 0.2);

//  **********************************************************
//  Transitions
$transition-speed-default: 300ms;
$transition-speed-fast: 100ms;

//  **********************************************************
//  Fonts
$font-custom          : "MuseoSans";
$font-stack           : "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-base            : 16px;

//  Sizes
$font-xs              : 0.75rem;    //  12px
$font-sm              : 0.875rem;   //  14px
$font-md              : 1rem;       //  16px
$font-lg              : 1.125rem;   //  18px
$font-xl              : 1.25rem;    //  20px
$font-xxl             : 1.5rem;     //  24px

//  Weights
$font-weight-normal     : 500;
$font-weight-bold       : 700;
$font-weight-heavy      : 900;

//  Icons
$icon-md                : 1rem;
