@import 'global';

.container {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
  height: 55px;

  @include tablet {
    padding: 0 $space-md-lg;
    height: 79px;
  }
}

.logoContainer {
  //position:fixed;
  //top:0;
  //box-sizing: border-box;
  //width: 100%;
}

.notesOverlay {
  display: block;
}
