@import 'global';

.container {
  order: 2;
  display: block;
  width: 170px;

  @include tablet {
  }
}

.logo {
  height: 40px;
  //display: flex;
  //align-items: center;

  @include tablet {
    height: 50px;
  }
}

.svg {
  height: 40px;
  width: 182px;
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translate(-50%, 0);

  @include tablet {
  }

  @include desktop {
    height: 50px;
    width: 210px;
  }
}
