@import 'global';

$linkMargin: 22px;
$linkPadding: 18px;

.container {
  display: block;
  margin: 0 $linkMargin 0 $linkMargin;
  padding: $linkPadding 0 $linkPadding 7px;
  border-bottom: solid 1px rgba(105, 118, 132, 0.2);
  line-height: 1;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  color: $color-bluestone;
  cursor: pointer;

  &:hover {
    color: $color_pebble;
  }
}

.active {
  composes: container;
  color: $color-blue-dark;
  cursor: default;

  &:hover {
    color: $color-blue-dark;
  }
}

.link {
  text-decoration: none;
}

.icon {
  margin-right: $space-sm;
}
