@import 'global';

.container {
  width: 100%;
  height: 330px;
  position: relative;
  background: darken($color-light-grey, 3%);
  overflow: hidden;

  @include tablet {
    height: 450px;
  }
}

.image {
  composes: transform-center;
  max-width: 1000px;
  @include tablet {
    height: 450px;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
