@import 'global';

$mobile-panel-width: 80%;

html,
body {
  height: 100%;
}

.container {
  display: flex;

  @include tablet {
    order: 2;
  }
}

.navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: $mobile-panel-width;
  height: 100vh;
  background: $color-bluestone;
  overflow: hidden;
  transform: translate(-100%);

  @include tablet {
    display: flex;
    height: 60px;
    flex-grow: 1;
    position: relative;
    background: transparent;
    transform: inherit;
    width: auto;
  }
}

//  Ensures our HTML has a
//  default transition speed
.mobileNavigationReady {
  transition: all $transition-speed-default;
}

//  Added to the HTML tag and
//  translates the entire document
.mobileNavigationIsOpen {
  transform: translate($mobile-panel-width);
  overflow: hidden;

  @include tablet {
    transform: translate(0%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fixedContainer {
  position: fixed;
  top: 18px;
}
.hamburgerIcon {
  order: 1;

  img {
    position: absolute;

    @include tablet {
      display: none;
    }
  }
}
